<footer class="footer">
    <div class="footer_first_details">
<img class="footer_img" src="images/img_536261.png" alt="">
<p>Get a free estimate!
    In need of a carpenter in San Francisco?</p>
    <div class="footer_contact">
       
<p>
    <div class="contact_line line"></div> Call Now: 1-800-000-0000 <div class="contact_line"></div>
</p>

    </div>
    </div>
    
<div class="footer_second_details">
<span><img src="" alt="">
    <p>RAFTER'S Welcome to Craftsmanship!</p>
    <img src="" alt="">
    <img src="" alt="">
</span>
<div>
<small>© 2018 by B's Creation. Proudly created with Drizzle.com</small>
</div>
    </div>
</footer>