
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="./slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').slick({

            slidesToShow: 1,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
            centerMode: true,
            centerPadding: '60px',

        });
    });
</script>